body {
    display: flex;
    flex-flow: column;
    margin: 0;
}

h1 {
    color: #F9FAF8;
    font-size: 48px; 
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 40px auto;
}

h3 {
    margin: 0;
}

header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    color: #E5E7EB;
    padding: 10px 0;
    gap: 100px;
}

.header_fix {
    display: flex;
    gap: 16px;
    font-size: 24px;
    margin: auto;
}

header img {
    max-width: 100px;
}

.header_links,
.header_links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #E5E7EB;
    gap: 22px;
    font-size: 18px;
    margin: auto;
}

.container_1 {
    background-color: #1F2937;
    display: flex;
    padding: 100px 0;
    gap: 80px;
}

.container_0 {
    max-width: 400px;
    display: flex;
    flex-flow: column;
    margin-left: auto;
    justify-content: center;
}

.container_0 p {
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.container_0 a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #3882F6;
    padding: 6px 28px;
    border-radius: 5px;
    align-self: flex-start;
    margin: 12px 0;
}

.photo_main {
    width: 400px;
    margin-right: auto;
}

.container_2 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.menu,
.menu a {
    display: flex;
    flex-flow: column;
    max-width: 160px;
    font-size: 18PX;
    text-decoration: none;
    color: rgb(88, 88, 88);
}

.menu img {
    width: 100%;
    border: solid #3882F6 2px;
    border-radius: 6%;
}

.container_3 {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    padding: 100px 280px;
}

.container_3 p {
    margin: 0;
}

.container_3 :nth-child(2) {
    text-align: end;
    font-style:normal;
}

.container_4 {
    display: flex;
    padding: 50px 110px;
    background-color: #3882F6;
    justify-content: space-between;
    margin:90px 190px;
    color: #E5E7EB;
    align-items: center;
    border-radius: 10px;
}

.sign_up {
    font-size: 18px;
}

.sign_up :nth-child(2){
    margin: 0;
}

.container_4 a {
    text-decoration: none;
    color: #E5E7EB;
    display: flex;
    border: solid #E5E7EB 2px;
    padding: 6px 24px;
    border-radius: 5px;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 36px;
    font-size: 18px;
}




